@media screen and (max-width: 400px) {
    body {
        background-color: palevioletred;
    }
}


@media screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: darkgoldenrod;
    }
}

@media screen and (min-width: 961px) {
    body {
        background-color: royalblue;
    }
}
