body {
    margin: 0;
}

.menu {
    background-color: rgb(89, 149, 218);
    height: 15px;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(178, 214, 255);
    height: 150px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(234, 237, 240);
    height: 250px;
}

.sign-up {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(214, 233, 254);
    height: 150px;
}

.feature-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(245, 207, 142);
    height: 150px;
}

.feature-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(240, 154, 157);
    height: 150px;
}

.feature-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(200, 197, 250);
    height: 150px;
}

@media screen and (max-width: 400px) {
    body {
        background-color: palevioletred;
    }
}


@media screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: darkgoldenrod;
    }
    .section {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (min-width: 961px) {
    body {
        background-color: royalblue;
    }
}
